- if @question.accepted?
  - if @question.accepted_answer_id == answer.id
    = render "questions/accepted"
- else
  - if current_user == @question.user
    %span{id: "accept#{answer.id}"}
      = link_to "Accept", accept_question_answer_path(answer.question, answer), method: :post, remote: true
