<h2><%= @question.title %></h2>
<div class="question">
  <div class="content">
    <%= simple_format @question.content %>
  </div>
  <div class="createdinfo">
    <%= render_model_info @question %>
  </div>
</div>

