- if signed_in? && current_user.already_voted?(answer)
  %span.voted{id: "votecnt#{answer.id}"}= pluralize answer.votes.count, "vote"
- else
  %span{id: "votecnt#{answer.id}"}= pluralize answer.votes.count, "vote"
