- if signed_in? && current_user.can_vote?(answer)
  %span{id: "votelink#{answer.id}"}
    = link_to "Vote+", vote_question_answer_path(answer.question, answer), method: :post, class: "vote", remote: true
