%h2 Questions
.questions
  - @questions.each do |question|
    %p.question
      .title
        = link_to question.title, question
      .createdinfo
        = render "questions/answer_count", question: question
        = render "shared/model_info", model: question
