<h2>Questions</h2>
<div class="questions">
  <% @questions.each do |question| %>
    <p class="question">
      <div class="title">
        <%= link_to question.title, question %>
      </div>
      <div class="createdinfo">
        <%= pluralize(question.answers.count, "Answer") %>
        [
        <%= question.created_at.to_s :default %>
        <%= question.user.user_name %>
        ]
      </div>
    </p>
  <% end %>
</div>
