<h2>Questions</h2>
<div class="questions">
  <% @questions.each do |question| %>
    <p class="question">
      <div class="title">
        <%= link_to question.title, question %>
      </div>
      <div class="createdinfo">
        <% if question.accepted? %>
          <%= content_tag :span, pluralize(question.answers.count, "Answer"), { class: "accepted" } %>
        <% else %>
          <%= pluralize(question.answers.count, "Answer") %>
        <% end %>
        <%= render_model_info question %>
      </div>
    </p>
  <% end %>
</div>
