@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #666;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 10px;
    background: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    *font-size: small;
    *font: x-small;
}

p,
address {
    margin: 0.8em 10px;
}

h1,
h2,
h3 {
    margin: 0.8em 10px;
    line-height: 1.2;
}

h1 {
    font-size: 180%;
}

h2 {
    padding: 0.4em 0 0.8em 0;
    color: #cd4730;
    font-size: 120%;
}

h3 {
    margin-bottom: 0;
    color: #333;
    font-size: 120%;
}

a:link {
    color: #00597c;
}

a:visited {
    color: #7d94a4;
}

a:hover {
    color: #cd4730;
}

ul,
ol,
dl {
    margin: 0.8em 10px;
    padding: 1px 10px;
    list-style-position: inside;
}

dt {
    margin: 0.4em 10px;
    color: #004171;
}

dd {
    margin: 0 10px;
}

form {
    margin: 0.5em 10px;
}

fieldset {
    padding: 0 10px 0.3em 10px;
    border: 1px solid #eee;
}

legend {
    margin-left: 1em;
    padding: 0 10px;
    font-size: 90%;
}

input {
    font-size: 90%;
}

/* CUSTOM */
/* HEADER */
div#auth {
    text-align: right;
}
div#sitename {
    margin: 0.8em 10px;
}
div#sitename img {
    position: relative;
}
div#sitename h1 {
    position: absolute;
    top: 63px;
    left: 95px;
}
