:plain
  $('votelink#{@selected_answer.id}').update('#{escape_javascript content_tag(:span, @message, class: @css_class)}')
  $('votecnt#{@selected_answer.id}').update('#{escape_javascript render("questions/vote_count", answer: @selected_answer)}')
